<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <body>
    <h1>List of users below</h1>
    <a href="/mark"><h3>Mark</h3></a>
    <!-- Make this dynamically created -->
  </body>
</html>
=======
The HOME PAGE
<br>
Click or login to your username here
<br>
<br>

<a href="./user">test user's account</a>
<br>User 2
<br>User3
<br>User 4
>>>>>>> f17db504950322cb74b75fe2350b1dcaa5fe0015
