<!DOCTYPE html>
<html>
  <body>
    <h1>List of users below</h1>
    
    <% usersArray.forEach(function(userName) { %>
      <a href="/<%- userName %>"<h2><%- userName %><br><br></h2></a>
     <% }) %>

  </body>
</html>
