<!DOCTYPE html>
<html>
  <body>
    <h1>List of users below</h1>

     <div class="userRow">
      <% usersArray.forEach(function(userName) { %>

        <div><a href="/<%- userName %>"<h2><%- userName %><br><br></h2></a></div>
      <% }) %>
    </div>
    <br><br><br><textarea>Type new username here</textarea> <button>Add user</button>

  </body>
</html>
