<!DOCTYPE html>
<html>
  <head>
	  <title>
		 Change title later
	  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/dropdown.css' />
  <script src="/scripts/dropdown.js"></script>
</head>
  <body>
    <%- body %>
  </body>
</html>