<!DOCTYPE html>
<html>
  <head>
	  <title>
<<<<<<< HEAD
		 Change title later
=======
		 
>>>>>>> f17db504950322cb74b75fe2350b1dcaa5fe0015
	  </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
    <%- body %>
  </body>
</html>