body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

}

form {
  display: inline-block;
}

.Row{
  border-bottom: 3px solid blue;
}


.Lbtn{
  /* display: inline-block; */
  /* text-align: center; */
  padding-left: 20px;

.userRow div {
  border-bottom: 1px solid red;
}