<!-- contains a partial for an individual blog page -->

<h1><%= post['title'] %></h1>

<p><%= post['content'] %></p>


<img src="<%= post['image_url'] %> " >
<!-- <img src="../assets/Dev_Img1.png"> -->
<!-- why does this need to be in the public folder?? -->
